@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}


